.accountItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
}

.accountItem p{
  color: white;
  font-size: 20px;
  margin: 20px;
}

.accountItem input {
  width: 100%;
}