.balance{
  width: 25%;
  background-color: rgb(61, 61, 61);
  margin: 2rem auto;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}
.balance h2{
  justify-content: center;
}